@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: "Lemands";
  src:
    url("/assets/fonts/lemands/Lemands.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

/* --- CSS TÙY CHỈNH ĐỂ ĐẠT ĐỘ GIỐNG 100% --- */
:root {
  --ico-yellow: #ffc300;
  --ico-yellow-secondary: #ffc30066;
  --ico-dark: #000000;
  /* Nền chính: Đen tuyệt đối */
  --ico-box-dark: #121212;
  /* Nền của các box thông tin, tối hơn một chút */
  --ico-text: #ffffff;
  --ico-gray: #a0aa9f;
}

html {
  scroll-behavior: smooth;
  /* Cho hiệu ứng cuộn mượt */
}

body {
  background-color: var(--ico-dark);
  color: var(--ico-text);
  overflow-x: hidden;
  line-height: 1.6;
  position: relative;
  /* Cần cho Scrollspy */
}

.container-xxl {
  max-width: 76rem;
}

/* --- Utility Classes --- */
.text-yellow {
  color: var(--ico-yellow) !important;
}

.bg-yellow {
  background-color: var(--ico-yellow) !important;
}

.section-padding {
  padding: 80px 0;
  border-bottom: 0.5px solid #ffc30033;
}

.section-padding:first-child {
  border-bottom: none;
}

/* --- Navbar --- */
.navbar {
  background-color: var(--ico-dark);
  z-index: 1030;
  border-bottom: 1px solid var(--ico-yellow-secondary);
  /* Đảm bảo navbar luôn trên cùng */
}

.navbar-brand .text-secondary {
  font-size: 0.8rem;
  color: var(--ico-gray) !important;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-link {
  color: var(--ico-text) !important;
  font-weight: 500;
  margin-right: 1.2rem;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.nav-link:hover {
  color: var(--ico-yellow) !important;
}

.btn-yellow-nav {
  background-color: var(--ico-yellow) !important;
  color: var(--ico-dark) !important;
  font-weight: 500 !important;
  padding: 0.625rem 1.25rem !important;
  border-radius: 9999px;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.btn-yellow-nav:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

/* --- Common Headings/Dots --- */
.section-dot-title {
  color: var(--ico-yellow);
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  border: 1px solid var(--ico-yellow-secondary);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  letter-spacing: 0.1em;
}

.section-title-manual {
  color: var(--ico-yellow);
  font-size: 0.875rem;
  letter-spacing: 0.4em;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.section-title-news {
  color: var(--ico-yellow);
  letter-spacing: 0.35em;
  font-size: 0.75rem !important;
}

/* --- Hero Section (TRANG CHỦ) --- */
#trang-chu {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.hero-title {
  margin-top: 20px;
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-subtitle {
  background: linear-gradient(90deg, var(--ico-yellow), #ffd84d, #fff3b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  /* max-width: 550px; */
  font-size: 1.125rem !important;
  color: #ffffffcc;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.hero-boxes-area {
  background-color: var(--ico-dark);
  padding: 1.5rem 2rem !important;
  border-radius: 1.5rem;
  border: 1px solid #ffc30033;
}

.box-title-separator {
  color: var(--ico-yellow);
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.35em;
}

.custom-icon {
  border: 1px solid #ffc3004d;
  background-color: #ffc3001a;
  border-radius: 20px;
  font-size: 1.875rem;
  padding: 4px 9px;
  margin-top: 10px;
}

.custom-sub-icon {
  font-size: 1.5rem;
}

.info-box {
  border: 1px solid #ffc30033;
  padding: 24px 16px;
  border-radius: 1rem;
  cursor: pointer;
}

.info-box:hover {
  border: 1.5px solid #ffc30099;
}

.info-box-number {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--ico-yellow);
}

.btn-outline-light-custom {
  color: var(--ico-text);
  border: 2px solid var(--ico-yellow);
  font-weight: 600;
  padding: 0.7rem 1.8rem;
  border-radius: 9999px;
  background-color: transparent;
}

.btn-outline-light-custom:hover {
  background-color: var(--ico-yellow);
  color: var(--ico-dark);
  border-color: var(--ico-yellow);
}

.btn-yellow-cta {
  background-color: var(--ico-yellow);
  color: var(--ico-dark);
  font-weight: 600;
  padding: 0.7rem 1.8rem;
  border-radius: 9999px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-yellow-cta:hover {
  background-color: #ffe867;
  color: var(--ico-dark);
}

/* --- Service Section (DỊCH VỤ) --- */
.service-box {
  background-color: var(--ico-box-dark);
  padding: 2rem;
  border-radius: 15px;
  height: 100%;
  transition: all 0.3s;
  border: 1px solid #ffc30033;
  cursor: pointer;
}

.service-box .animate-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.service-box:hover .animate-icon {
  transform: translateX(5px);
}

.border-yellow {
  border: 1px solid #ffc30066 !important;
  max-width: fit-content;
  padding: 10px 15px;
  background-color: #ffc30026;
  border-radius: 15px;
}

.service-box:hover {
  border: 1px solid var(--ico-yellow);
  box-shadow: 0 5px 25px var(--ico-yellow-secondary);
}

.service-box-title {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.service-box p {
  font-size: 0.95rem;
  color: var(--ico-gray);
}

.link-arrow {
  color: var(--ico-yellow);
  font-weight: 600;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}

.news-box .link-arrow {
  margin: 0 !important;
}

.animate-icon {
  margin-left: 7px !important;
}

/* --- Corporate Partner Section (ĐỐI TÁC FDI) --- */
#doi-tac-fdi {
  background-color: var(--ico-dark);
  padding: 6rem 0;
  text-align: center;
}

.partner-logo-box {
  padding: 32px 24px !important;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  font-weight: 700;
  border: 1px solid #ffc30033;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #4d483a1a; */
  background-color: var(--ico-text);
  cursor: pointer;
  height: clamp(80px, 10vw, 120px);
}

.partner-logo-box:hover {
  background-color: var(--ico-yellow);

  color: var(--ico-yellow);
}

.parter-logo-box img {
  transition: transform 0.3s ease;
}

.partner-logo-box:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.partner-caption {
  max-width: 595px;
  margin: 0 auto 3rem;
  color: #ffffffb3;
}

/* --- News Section (TIN TỨC) --- */
.news-box {
  padding: 2rem;
  border-radius: 15px;
  height: 100%;
  border: 1px solid #ffc3001a;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  cursor: pointer;
}

.news-box i {
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}

.news-box:hover i {
  transform: translateX(5px);
}

.news-box:hover {
  border-color: var(--ico-yellow);
}

.news-meta {
  color: var(--ico-yellow);
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
}

.news-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 !important;
}

.news-box:hover .news-title {
  color: var(--ico-yellow);
}

.news-box p {
  color: var(--ico-gray);
  font-size: 0.9rem;
  margin: 0 !important;
}

/* --- Contact Form Section (LIÊN HỆ) --- */
#lien-he {
  padding-bottom: 6rem;
}

.contact-form-area {
  background-color: var(--ico-dark);
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid #1a1a1a;
  box-shadow: 0 0 10px 0 #00000099;
}

.form-group-custom {
  margin-bottom: 1rem;
}

.form-group-custom label {
  font-size: 14px;
  font-weight: bold;
}

.form-control-custom-light {
  background-color: var(--ico-text) !important;
  border: 1px solid #333;
  color: var(--ico-text);
  height: 50px;
  border-radius: 0.75em;
}

.form-control-custom-light::placeholder {
  color: #d6d1d1;
  font-size: 14px;
}

.form-control-custom-light:focus {
  border-color: var(--ico-yellow);
  border: 2px solid var(--ico-yellow-secondary) !important;
  box-shadow: none;
}

.form-control-custom,
.form-select-custom {
  background-color: var(--ico-box-dark);
  border: 1px solid #333;
  color: var(--ico-text);
  height: 50px;
  border-radius: 0.75em;
}

.form-control-custom::placeholder {
  color: #666;
  font-size: 14px;
}

.form-control-custom:focus,
.form-select-custom:focus {
  background-color: var(--ico-box-dark);
  color: var(--ico-text);
  border-color: var(--ico-yellow);
  border: 2px solid var(--ico-yellow-secondary);
  box-shadow: none;
}

.form-control-textarea {
  min-height: 120px;
  background-color: var(--ico-text) !important;
  border-radius: 0.75em;
}

.form-control-textarea::placeholder {
  color: #d6d1d1;
  font-size: 14px;
}

/* --- CTA Footer (KẾU GỌI HÀNH ĐỘNG) --- */
.cta-footer-section {
  background-color: var(--ico-yellow);
  padding: 4rem 0;
  color: var(--ico-dark);
}

.cta-title {
  font-size: 2.25rem;
  font-weight: 800;
}

.btn-dark-cta {
  background-color: var(--ico-dark);
  color: var(--ico-text);
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  max-width: 200px;
  text-transform: uppercase;
  border: 1px solid var(--ico-dark);
}

.btn-dark-cta:hover {
  border: 1px solid var(--ico-dark);
  box-shadow: 0 1px 5px var(--ico-dark);
}

/* --- Footer --- */
footer {
  background-color: var(--ico-dark);
  padding-top: 4rem;
}

.footer-logo-text {
  color: var(--ico-text);
  font-weight: 600;
  font-size: 1.125rem !important;
}

.footer-logo-sub {
  color: #ffc300cc;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

.footer-about,
.footer-links a,
.footer-links p {
  color: var(--ico-gray);
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1;
}

.footer-about:last-child {
  margin-bottom: 2.5rem;
}

.footer-links h6 {
  color: var(--ico-text);
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-copyright {
  padding: 1.5rem 0;
  border-top: 1px solid #1a1a1a;
  color: #444;
  font-size: 0.85rem;
}

/* --- Responsive Tinh chỉnh --- */
@media (max-width: 1200px) {
  .hero-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    position: static;
  }

  #trang-chu {
    padding-top: 4rem;
  }

  .hero-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group-custom {
    justify-content: center !important;
  }

  .hero-boxes-area {
    margin-top: 3rem;
  }

  .partner-info-box,
  .service-box,
  .news-box,
  .partner-logo-box {
    margin-bottom: 1.5rem;
  }

  .cta-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .cta-footer-section .d-flex {
    justify-content: center !important;
  }

  footer .col-lg-3 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 575.98px) {
  .btn-yellow-cta {
    width: 100%;
  }

  .btn-outline-light-custom {
    width: 100%;
  }

  .custom-icon {
    margin: 0 !important;
  }
}

.btn-partner-custom {
  border-radius: 9999px;
  font-weight: 500;
}

.btn-partner-custom:hover {
  background-color: var(--ico-dark);
  color: var(--ico-yellow);
  border-color: var(--ico-dark);
}

.btn-apply-custom {
  border-radius: 9999px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--ico-yellow);
  color: var(--ico-yellow);
}

.btn-apply-custom:hover {
  background-color: var(--ico-yellow);
  color: var(--ico-dark);
  border-color: var(--ico-yellow);
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.351);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
  padding: 10px 5px;
  border-radius: 9999px;
}

.floating-buttons:hover i {
  animation: shake 0.5s ease-in-out 0s 1, pause 3s linear 1s infinite;
}

/* Hiệu ứng rung lắc nhẹ */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Thủ thuật tạo “khoảng nghỉ” giữa các lần lắc */
@keyframes pause {
  from {
    transform: none;
  }

  to {
    transform: none;
  }
}

.fab-item {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--ico-yellow);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background 0.3s;
}

.fab-item:hover {
  background: var(--ico-box-dark);
  border: 1px solid var(--ico-yellow);
  transform: scale(1.1);
  color: var(--ico-yellow);
}

/* Tooltip danh sách hotline */
.hotline-list {
  display: none;
  position: absolute;
  right: 60px;
  bottom: 0;
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 200px;
}

.hotline-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.hotline-item:last-child {
  margin-bottom: 0;
}

.hotline-item i {
  color: #0d6efd;
  font-size: 18px;
}

.hotline-name {
  font-weight: 600;
  font-size: 14px;
}

.hotline-number {
  font-size: 13px;
}

.line {
  width: 35%;
  height: 3px;
  background-color: var(--ico-yellow);
  top: 100%;
  margin-top: 5px;
  border-radius: 5px;
}

.introduce {
  font-size: 60px;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

.subtitle {
  font-size: 20px;
  margin-top: 40px;
  width: 60%;
}

@media (max-width: 991.98px) {
  .introduce {
    font-size: 48px;
  }

  .subtitle {
    font-size: 16px;
    width: 80%;
  }
}

/* Thiết bị Mobile (dưới 768px) */
@media (max-width: 767.98px) {
  .introduce {
    font-size: 36px;
  }

  .subtitle {
    font-size: 14px;
    width: 100%;
  }

  .line {
    width: 60%;
  }
}

.info-card {
  box-shadow: 0px 2px 15px -5px gray;
  border-radius: 10px;
  border-left: 5px solid var(--ico-yellow);
  font-size: 18px;
  line-height: 1.75rem;
  padding: 25px;
}

.item-card {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.light-box {
  background-color: #fefce8;
  border: 1px solid var(--ico-yellow-secondary);
  border-radius: 10px;
  padding: 20px;
}

.card-zoom-container {
  height: 552px;
  width: 100%;
  /* Đảm bảo ảnh không tràn ra khỏi khung */
  overflow: hidden;
  /* Tạo vị trí tương đối cho lớp phủ và nội dung */
  position: relative;
  /* Thiết lập bo góc và đổ bóng theo yêu cầu của Bootstrap card */
  border-radius: 0.75rem !important;
  /* Ví dụ: bo góc tròn */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* Đổ bóng nhẹ */
}

.card-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo ảnh luôn che phủ container */
  display: block;
  /* Thiết lập chuyển động mượt mà */
  transition: transform 0.5s ease;
}

/* Lớp phủ Gradient đen mờ */
.card-img-overlay-custom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  /* Chiều cao của lớp phủ gradient */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  border-radius: 0 0 0.75rem 0.75rem;
  /* Chỉ bo góc dưới */
}

/* Hiệu ứng zoom khi di chuột (Hover Effect) */
.card-zoom-container:hover .card-img-custom {
  transform: scale(1.05);
  /* Phóng to 5% */
}

/* Cấu hình văn bản */
.card-content-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 10;
  /* Đảm bảo chữ nằm trên lớp phủ */
  color: white;
}

.card-title-custom {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.card-subtitle-custom {
  font-size: 0.95rem;
  opacity: 0.9;
}

.icon-item {
  background-color: #fefce8;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.icon-item svg {
  stroke: #facc15;
  transition: transform 0.5s ease-in-out;
}

.diffirent {
  border: 1px solid #e5e7eb;
  transition: transform 0.3s ease-in-out;
}

.diffirent h4 {
  font-size: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 30px
}

.diffirent:hover {
  transform: translateY(-5px);
  border: 1px solid var(--ico-yellow-secondary);
  box-shadow: 0px 2px 15px -5px gray;
}

.diffirent:hover h4 {
  color: #ca8a04;
}

.diffirent:hover svg {
  stroke: var(--ico-dark);
  transition: transform 0.3s ease-in-out;
}

.diffirent:hover .icon-item {
  background-color: #facc15;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.custom-line {
  position: absolute;
  bottom: 2;
  left: 6%;
  width: calc(100% - 48px);
  height: 3px;
  background-color: var(--ico-yellow);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.diffirent:hover .custom-line {
  transform: scaleX(1);
}

.service-title {
  font-size: 36px;
  color: #ffc300;
  font-weight: bold;
}

.service-subtitle {
  margin: 40px 0;
  font-size: 18px;
  color: #4b5563;
}

.benefit {
  font-size: 18px;
  margin-bottom: 20px;
}

.list-benefit {
  padding: 0;
}

.list-benefit li svg {
  stroke: #ffc300;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card-zoom-container-service {
  height: 327px;
  width: 100%;
  /* Đảm bảo ảnh không tràn ra khỏi khung */
  overflow: hidden;
  /* Tạo vị trí tương đối cho lớp phủ và nội dung */
  position: relative;
  /* Thiết lập bo góc và đổ bóng theo yêu cầu của Bootstrap card */
  border-radius: 0.75rem !important;
  /* Ví dụ: bo góc tròn */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* Đổ bóng nhẹ */
}

.card-zoom-container-service-custom-height {
  height: 740px;
}

.card-img-wrapper-service {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img-custom-service {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo ảnh luôn che phủ container */
  display: block;
  /* Thiết lập chuyển động mượt mà */
  transition: transform 0.5s ease;
}

.card-zoom-container-service:hover .card-img-custom-service {
  transform: scale(1.05);
  /* Phóng to 5% */
}

.cta-custom {
  max-width: 56rem;
  text-align: center;
}

.cta-custom h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.cta-custom p {
  max-width: 42rem;
  font-size: 18px;
  margin: 24px auto 40px auto;
}

.cta-custom button {
padding: 16px 32px;
font-size: 18px;
}

@media (max-width: 991.98px) {

}

/* Thiết bị Mobile (dưới 768px) */
@media (max-width: 767.98px) {
.cta-custom h2 {
  font-size: 32px;
}
.cta-custom p {
  font-size: 16px;
}
}

.custom-text-footer {
  color: #005a8f;
  font-size: 4rem;
  font-family: "Lemands", sans-serif;
}

.sub-footer-logo {
  max-width: 210px;
  height: fit-content;
}